<!DOCTYPE html>
<html lang="en">
    <&percnt; include('../include/head'); &percnt;>
    <body>
        <&percnt; include('../include/navP'); &percnt;>
		<div class="container">
            <div class="row">
                <h1>Zaplanowane wizyty:</h1>
            </div>
            <hr>
            <div class="row">
                <p style="height:300px;">Content Here...</p>
            </div>
			</div>
		</div>
		
        <&percnt; include('../include/scripts'); &percnt;>
        <&percnt; include('../include/footer'); &percnt;>
    </body>
</html>