<!DOCTYPE html>
<html lang="en">
    <&percnt; include('../include/head'); &percnt;>
    <body>
        <div class="container">
            <div class="row">
                <h1>Witam</h1>
            </div>
            <hr>
            <div class="choises">
                <p style="text-align: center;"><span style="width:30px;">Zaloguj się</span>
				<span style="padding:30px; text-align: center;">Zarejestruj się</span></p>
            </div>
        </div>

        <&percnt; include('../include/scripts'); &percnt;>
        <&percnt; include('../include/footer'); &percnt;>
    </body>
</html>