<!DOCTYPE html>
<html lang="en">
    <&percnt; include('../include/head'); &percnt;>
    <body>
        <&percnt; include('../include/navP'); &percnt;>
		<div class="container">
            <div class="row">
                <h1>Witamy w panelu [nazwa_placowki]</h1>
            </div>
            <hr>
            <div class="row">
                <p style="height:300px;">Content Here...</p>
            </div>
        
			<div class="row">
				<div class="pickThis">
					<a class="nav-item nav-link" href="accountpl">Konto</a>
				</div>
				<div class="pickThis">
					<a class="nav-item nav-link" href="drpl">Dodaj lekarza</a>
				</div>
				<div class="pickThis">
					<a class="nav-item nav-link" href="currpl">Dodaj grafik</a>
				</div>
				<div class="pickThis">
					<a class="nav-item nav-link" href="histpl">Historia wizyt</a>
				</div>
			</div>
		</div>
		
        <&percnt; include('../include/scripts'); &percnt;>
        <&percnt; include('../include/footer'); &percnt;>
    </body>
</html>