<footer class="container_footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p></p>
        <p></p>
        <p style="float:right;">Footer</p>
      </div>
    </div>

  </div>
</footer>